<div class="container bg-light mt-2 container-personal">
  <div class="row vh-90 align-items-center container">
    <!-- <div class="col-3">
        <img class="img_logo" src="/assets/baner2.png" alt="Not load" srcset="">
    </div> -->

          <div class="row justify-content-center align-items-center"> 
              <h1>Detalles de usuario</h1>
                <div class="col-8">
                  <form class="form-row">
                    <div class="row">
                      <div class="col-2">
                        <label for="id">ID:</label>
                        <input type="text" id="id" class="form-control" placeholder="First name">
                      </div>
                      <div class="col-5">
                        <label for="nombre">NOMBRE:</label>
                        <input type="text" id="nombre" class="form-control" placeholder="Last name">
                      </div>
                      <div class="col-5">
                        <label for="apellido">APELLIDO: </label>
                        <input type="text" id="apellido" class="form-control" placeholder="Last name">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <label for="correo">CORREO:</label>
                        <input type="text" id="correo" class="form-control" placeholder="First name">
                      </div>
                      <div class="col-6">
                        <label for="telefono">TELEFONO:</label>
                        <input type="text" id="telefono" class="form-control" placeholder="First name">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-7">
                        <label for="cargo">CARGO:</label>
                        <input type="text" id="cargo" class="form-control" placeholder="First name">
                      </div>
                      <div class="col-5">
                        <label for="estado">ESTADO:</label>
                        <input type="text" id="estado" class="form-control" placeholder="First name">
                      </div>                      
                    </div>
                  </form>
                </div>
                
                <div class="col-4">
                  <div class="card" style="width: 18rem;">
                      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                      <p class="card-img-top title-user">Nombre de usuario</p>
                      <div class="card-body justify-content-center align-items-center">
                        <div class="content-icon" routerLink="/Perfil">
                          <fa-icon class="icon-user" [icon]="faCoffee"></fa-icon>
                        </div>
                        <a href="#" class="btn btn-primary form-control">Cargar Imagen</a>
                      </div>
                    </div>
                  
              </div>

          </div>  
    
</div>
</div>
