<div class="container bg-light mt-2 container-personal">
   
      <div class="row perfil_main">
                <div class="col-4">
                    <div class="card perfil_card">
                        <div class="perfil_background">
                            <img class="logo_text" src="/assets/baner2.png" alt="Not load" srcset="">
                            <div class="icon" (click)="CargarImg()">
                              <fa-icon size="2x" class="perfil_cameraicon" [icon]="cameraicon"></fa-icon>
                            </div>
                        </div>
                        <div *ngIf="showiconUser" class="perfil_photo">
                          <img class="perfil_picture" style="background-color: blue;" src="/assets/perfil.jpg" alt="Not load" srcset="">
                        </div>
                        <div class="perfil_photo">
                          <img class="perfil_picture" style="display:none" alt="No se Cargó correctamente" srcset="" #ImgInput>
                        </div>
                        <div class="perfil_options">
                          <input class="none" (change)="ChangeImg($event)" type="file" name="" #ImgPerfil>
                        </div>
                        <div class="perfil_buttons">
                          <button class="perfil_buttons_wdt btn btn-outline-success">Editar Datos</button>
                          <button class="perfil_buttons_wdt btn btn-outline-success">Cambiar Contraseña</button>
                          <button class="perfil_buttons_wdt btn btn-outline-success">Cerrar Sesión</button>
                        </div>
                    </div> 
                </div>
                <div class="col-8 perfil_formulario justify-content-center align-items-center">
                  <p class="perfil_text mt-5">Bienvenido</p>
                  <form class="form-row mt-4" [formGroup]="userform">
                    <div class="row mb-3">
                      <div class="col-2">
                        <label for="id">ID:</label>
                        <p class="form-control" disabled="true"> {{user.id}}</p> 
                      </div>
                      <div class="col-5">
                        <label for="nombre">CARGO:</label>
                        <p class="form-control" disabled> {{user.descripcion}}</p> 
                      </div>
                      <div class="col-5">
                        <label for="apellido">ESTADO: </label>
                        <p class="form-control" disabled> {{user.estado}}</p>                         
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-6">
                        <label for="correo">NOMBRE:</label>
                        <p class="form-control" disabled> {{user.nombre}}</p>                        
                      </div>
                      <div class="col-6">
                        <label for="telefono">APELLIDO:</label>
                        <p class="form-control" disabled> {{user.apellido}}</p>                         
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-7">
                        <label for="cargo">CORREO:</label>
                        <p class="form-control" disabled> {{user.correo}}</p>                                
                      </div>
                      <div class="col-5">
                        <label for="estado">TELEFONO:</label>
                        <p class="form-control" disabled> {{user.telefono}}</p>                         
                      </div>                      
                    </div>
                  </form>
                </div>
      </div>
 
</div>

<!-- Modal -->
<div class="modal fade" id="UpdateUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-title-modal" id="exampleModalLabel">Editar Perfil de Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="container" [formGroup]="userform">
              <div class="form-group row justify-content-center align-items-center">
                  <div class="col-12" style="width: 15rem;">
                      <div class="content-icon">
                        <fa-icon class="icon-user" [icon]="faCoffee"></fa-icon>
                      </div>
                  </div>
                  <input style="display: none;" type="file" name="" id="">
                  <div class="col-12 text-center p-3">
                      <button class="btn btn-primary">Editar Foto</button>
                      <button class="btn btn-danger">Eliminar Foto</button>
                  </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <label for="elementoquimico">
                    NOMBRE:
                  </label>
                  <input type="text" class="form-control" formControlName="nombre">
                </div>
                <div class="col">
                  <label for="elementoquimico">
                    APELLIDO:
                  </label>
                  <input type="text" class="form-control" formControlName="apellido">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <label for="elementoquimico">
                    CORREO:
                  </label>
                  <input type="text" class="form-control" formControlName="correo">
                </div>
                <div class="col">
                  <label for="elementoquimico">
                    TELEFONO:
                  </label>
                  <input type="text" class="form-control" formControlName="telefono">
                </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>  
    </div>
  </div>
</div>