<ng-container *ngIf="listSensors.length <= 0">
    <div class="container bg-light mt-2 container-personal">
        <div class="row justify-content-center align-items-center">
            <div class="icon-micro-div">
                <fa-icon class="icon-micro center-container" [icon]="FaMicro"></fa-icon>
            </div>
            <div class="center-container text-container">
                <p class="font-text">Aún no se encuentra ningún sensor creado</p>
                <span class="font-text">Si desea crear uno nuevo dirijase al boton en la parte inferior</span>
            </div>
            <div class="center-container mt-4 button-container">
                <button class="btn btn-info btn-font" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Crear nuevo sensor
                </button>
            </div>
        </div>
  
    </div>
</ng-container>
<ng-container>
    <div class="container bg-light mt-4 container-personal2">
        <button class="btn-new-point" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <fa-icon class="icon-plus center-container" [icon]="FaPlus"></fa-icon>
        </button>
        <div class="main-container">
            <div *ngFor="let item of listSensors; let i = index" class="car-sensor">
                <div class="car-img">
                    <img class="car-img-link" src="item.img" alt="No se pudo cargar" srcset="">
                </div>
                <div class="car-list">
                    <ul>
                        <li>
                            Id: {{item.id}}
                        </li>
                        <li>
                            Descripción: {{item.descripcion}}
                        </li>
                        <li>
                            Elemento: {{item.elemento_quimico}}
                        </li>
                        <li>
                           Fecha Creación: {{item.fecha_creacion}}
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-7">
                            <button class="btn btn-warning">Editar Sen.</button>
                        </div>
                        <div class="col-5">
                            <button class="btn btn-danger" (click)="DeleteSensor(item.id)">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-title-modal" id="exampleModalLabel">Crear Nuevo Sensor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="container">
              <div class="form-group row">
                  <div class="col-8" style="width: 18rem;">
                      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                      <p class="card-img-top title-user">Aquí va la imagen del sensor</p>
                      <div class="card-body justify-content-center align-items-center">
                        <div class="content-icon">
                          <!-- <fa-icon class="icon-user" [icon]="faCoffee"></fa-icon> -->
                        </div>
                      </div>
                    </div>
                  <div class="col-4">
                      <button class="btn btn-primary">Cargar Imagen</button>
                  </div>
              </div>
              <div class="form-group">
                  <label for="elementoquimico">
                      Elemento Quimico
                  </label>
                  <input type="text" [(ngModel)]="elementoquimico" id="elementoquimico" class="form-control">
              </div>
              <div class="form-group">
                  <label for="exampleFormControlTextarea1">Descripción</label>
                  <textarea class="form-control" [(ngModel)]="descripcionsensor" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="CrearSensor()">Guardar</button>
      </div>
    </div>
  </div>
</div>

