<div class="row justify-content-center align-items-center" style="min-height: 90vh; margin: 0 !important;">
    <div class="col-6 login_left">
        Primera Parte
    </div>
    <div class="col-6">
        <form class="row justify-content-center align-items-center">
            <div class="col-sm-10 mb-2">
              <input type="email" class="form-control"  placeholder="Ingrese su usuario">
            </div>
            <div class="col-sm-10 mb-2">
              <input type="password" class="form-control" placeholder="Ingrese su contraseña">
            </div>
            <div class="col-sm-10 mb-2">
                <button class="btn btn-outline-primary form-control">Iniciar Sesion</button>
            </div>
          </form>
    </div>
</div>
