<div class="row justify-content-center align-items-center" style="min-height: 90vh; margin: 0 !important;">
    <div class="col-6 login_left">
        Primera Parte
    </div>
    <div class="col-6">
        <form action="" method="post">
            <label for="">Correo</label>
            <input type="email">
            <label for="">Contraseña</label>
            <input type="password">
    
            <button class="btn btn-primary">Iniciar Sesión</button>
        </form>
    </div>
</div>
