<div class="bg-light mt-2 container-personal">
    <div class="min_heigth row vh-90 container">
    
        <div class="col-9">
            <div class="grid_tools">
                <div class="icon_d row users">
                    <div class="col-5 mt-4" >
                        <fa-icon size="5x" class="icon-users" [icon]="users"></fa-icon>
                    </div>
                    <div class="icon_rigth col-7">
                        <p>Usuarios activos</p>
                        <span style="font-size: 25px; margin:0 0 0 30px !important">{{listaUsuarios.length}}</span>
                    </div>
                </div>
                <div class="icon_d row sensor">
                    <div class=" col-5 mt-4" >
                        <fa-icon size="5x" class="icon-users" [icon]="sensors"></fa-icon>
                    </div>
                    <div class="icon_rigth col-7">
                        <p>Sensores activos</p>
                        <span style="font-size: 25px; margin:0 0 0 30px !important">{{activesensors}}</span>
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="active"></span>
                    </div>
                </div>
                <div class="icon_d row danger" >
                    <div class="icon_left col-5 mt-4" >
                        <fa-icon size="5x" class="icon-users" [icon]="update"></fa-icon>
                    </div>
                    <div class="icon_rigth col-7">
                        <p>Sensores defectuosos</p>
                        <span style="font-size: 25px; margin:0 0 0 30px !important">{{activesensorsnot}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-11">
                  <canvas style="width: 8% !important; background-color: white !important;" id="dailyload" #dailyload></canvas>
                </div>
              </div>
        </div>
        <div class="contamination col-3">
            <div class="contamination_text">
                <p class="contamination_text_title">Niveles de contaminación</p>  
            </div>
            <div class="row">
                <div class="col-12">
                    <canvas style="width: 8% !important; background-color: white !important;" #contaminationgraf>

                    </canvas>
                </div>
            </div>  
        </div>
    </div>
</div>