<div class="bg-light mt-2 container-personal">
    <div class="min_heigth row vh-90 container">
    
        <div class="col-9">
            <div class="grid_tools">
                <div class="icon_d row users">
                    <div class="col-5 mt-4" >
                        <fa-icon size="5x" class="icon-users" [icon]="users"></fa-icon>
                    </div>
                    <div class="icon_rigth col-7">
                        <p>Usuarios activos</p>
                    </div>
                </div>
                <div class="icon_d row sensor">
                    <div class=" col-5 mt-4" >
                        <fa-icon size="5x" class="icon-users" [icon]="sensors"></fa-icon>
                    </div>
                    <div class="icon_rigth col-7">
                        <p>Sensores activos</p>
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="active"></span>
                    </div>
                </div>
                <div class="icon_d row danger" >
                    <div class="icon_left col-5 mt-4" >
                        <fa-icon size="5x" class="icon-users" [icon]="update"></fa-icon>
                    </div>
                    <div class="icon_rigth col-7">
                        <p>Sensores defectuosos</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <ul>
                <li>paojhd</li>
                <li>paojhd</li>
                <li>paojhd</li>
            </ul>
        </div>
    </div>
</div>