<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Comforter&display=swap" rel="stylesheet"> 
    <!-- <link rel="stylesheet" href="../css/Landing.css">
    <link rel="stylesheet" href="../css/DrawingLinux.css">
    <link rel="stylesheet" href="../Responsive/MediaQuery.css"> -->
</head>
<body>
    <header>
        <div class="Logo-Menu" id="home">
            <div>
              <img src="/assets/img/logo/LogoIoT3.png" alt="Grupo Investigación"
              class="brand-image m-3" style="opacity: .8; width: 180px !important; height: 50px !important;">
            </div>
            <ul class="Items-Menu" >
                <li><a (click)="navigateToSection('home')">Inicio</a></li>
                <li> <a (click)="navigateToSection('proyectos')">Grupos</a> </li>
                <li> <a (click)="navigateToSection('articulos')">Artículos</a></li>
                <li> <a (click)="navigateToSection('autores')">Autores</a> </li>
                <li> <a (click)="navigateToSection('registers')">Registrarse</a> </li>
                <li><a routerLink="/login">Iniciar Sesión</a></li>     
            </ul>
        </div>
        
        <div class="Title">
          <img src="/assets/img/logo/LogoIoT2.png" alt="Not load" srcset="">
          <br>
          <p style="color: antiquewhite;">Grupo de internet de las cosas</p>
        </div>
    </header>

    <section class="About" id="proyectos">
        <div class="Context">
            <h2 class="first-text"  style="color: black;">
              Proyecto de Investigación IoT
            </h2>
            <p class="second-text">
              El impacto de las Tecnologías de la información y comunicación (TIC`s) no se refleja únicamente en un individuo, grupo, sector o país, sino que, se extiende al conjunto de las sociedades del planeta. Los propios conceptos de "la sociedad de la información" y "la globalización", tratan de referirse a este proceso. Las TIC’s permiten a la población tener acceso a la información y al conocimiento en cualquier lugar del mundo 
              y de manera prácticamente instantánea.
            </p>
        </div>
        <div class="Img">
            <img src="/assets/img/logo/tic2.jpg" alt="">
        </div>
    </section>

    <section class="skilss" id="articulos">
        <div class="Titulo mt-4">
            <h1 class="skill" style="color: antiquewhite;">Artículos del grupo de investigación</h1>
          </div>
          <ng-container>
            <div class="container mt-4 mb-4">
              <div class="row">
                <div class="col-12">
                  <div (click)="OpenWindows('https://carreras.uleam.edu.ec/facci/wp-content/uploads/sites/26/2019/10/PEI-INVESTIGACION-2018.pdf')" class="card mb-3" >
                      <div class="card-body">
                        <h5 class="card-title">Plan Estrategico de investigación </h5>
                        <p class="card-text">Comisión de investigación</p>
                        <p class="card-text"><small class="text-muted">
                          Autores:
                          Dra. Dolores Muñoz Verduga, PhD.
                          Decana, Facultad de Ciencias Informáticas
                          <br>
                          MIEMBROS DE LA COMISÍÓN DE INVESTIGACIÓN
                          Ing. Johnny Larrea Plúa, Mg.
                          <br>
                          Coordinador Comisión de Investigación FACCI
                          Ing. Jorge Pincay Ponce, Mg.
                          Miembro
                          <br>
                          Ing. Jorge Herrera Tapia, Mg.
                          Miembro
                          <br>
                          Ing. Dahiana Alvia Toala, MBA.
                          Secretaria
                        </small></p>
                      </div>
                    </div>
                  </div>
                <div class="col-6">
                  <div (click)="OpenWindows('https://www.researchgate.net/publication/371807499_Deteccion_del_Ruido_Mediante_Telefonos_Inteligentes_Determinacion_del_Momento_Adecuado_para_el_Muestreo')" class="card mb-3">
                    <div class="card-body">
                      <h5 class="card-title">
                        <!-- Card title -->
                        Detección del Ruido Mediante Teléfonos Inteligentes: Determinación del Momento Adecuado para el Muestreo
                      </h5>
                      <p class="card-text">
                        <!-- This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. -->
                        September 2018
                        <br>
                        Conference: Actas de las Jornadas Sarteco 2018Volume: 1
                      </p>
                      <p class="card-text"><small class="text-muted">
                        Autores:
                        Willian Zamora
      
                        Universidad Laica Eloy Alfaro de Manabí (ULEAM)
                        <br>
                        Elsa Vera-Burgos
      
                            Universidad Laica Eloy Alfaro de Manabí (ULEAM)
                        <br>
                        Carlos Tavares Calafate
      
                            Universitat Politècnica de València
      
                      </small></p>
                    </div>    
                  </div>
                </div>
                <div class="col-6">
                  <div (click)="OpenWindows('https://www.researchgate.net/publication/330680401_Energy_Consumption_for_Anti-virus_Applications_in_Android_OS_Helping_Teachers_Develop_Research_Informed_Practice')" class="card mb-3">
                      
                      <div class="card-body">
                        <h5 class="card-title">
                          Energy Consumption for Anti-virus Applications in Android OS: Helping Teachers Develop Research Informed Practice
                        </h5>
                        <p class="card-text">
                          <!-- This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. -->
                          February 2019
                          <br>
                          DOI:10.1007/978-3-030-11890-7_33
                        </p>
                        <p class="card-text"><small class="text-muted">
                          Autores
                          <br>
                          Elsa Vera-Burgos
                          Universidad Laica Eloy Alfaro de Manabí (ULEAM)
                          <br>
                          Willian Zamora
                          Universidad Laica Eloy Alfaro de Manabí (ULEAM)
                        </small></p>
                      </div>
                    </div>
                </div>
                <div class="col-12">
                  <div (click)="OpenWindows('https://www.researchgate.net/publication/348121402_Systems_and_Information_Sciences_Proceedings_of_ICCIS_2020_Proceedings_of_ICCIS_2020')" class="card mb-3">
                      
                      <div class="card-body">
                        <h5 class="card-title">
                          Systems and Information Sciences Proceedings of ICCIS 2020: Proceedings of ICCIS 2020
                        </h5>
                        <p class="card-text">
                          <!-- This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer -->
                          <!-- Systems and Information Sciences Proceedings of ICCIS 2020: Proceedings of ICCIS 2020
                           -->
                           January 2021Advances in Intelligent Systems and Computing
                          <br>
                           DOI:10.1007/978-3-030-59194-6
                           <br>
                            ISBN: 978-3-030-59193-9
                        </p>
                        <p class="card-text"><small class="text-muted">
                          Autores:
                          Miguel Botto-Tobar
        
                          Eindhoven University of Technology
                          <br>
                          Willian Zamora
        
                              Universidad Laica Eloy Alfaro de Manabí (ULEAM)
                          <br>
                          Johnny Javier Larrea
        
                              Universidad Laica Eloy Alfaro de Manabí (ULEAM)
        
        
                        </small></p>
                      </div>
                  </div>
                </div>
            </div>
          </div>
      </ng-container>      
    </section>

    <section class="specializacion" id="autores">

        <div class="Tituloespe mt-4">
            <h3 class="Especializando">Autores</h3>
            <!-- <p class="espes">En este apartado podran escontrar las diferentes areas de especialización del autor</p> -->
        </div>

        <div>
          <ng-container>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-6">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img style="height: 100% !important;" src="/assets/Jhonny.jpg" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title" style="font-size: 17px;">
                                    <strong>
                                      Ing. Johnny Larrea Plua, PHD
                                    </strong>
                                  </h5>
                                  <div class="row">
                                    <div class="col-2">
                                      <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="faEnvelop"></fa-icon>
                                    </div>
                                    <div class="col-10">
                                      <span>
                                        johnny.larrea@uleam.edu.ec
                                      </span> 
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-2">
                                      <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="phone"></fa-icon>
                                    </div>
                                    <div class="col-10">
                                      <span>
                                        0984496002
                                      </span>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-2">
                                      <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="location"></fa-icon>
                                    </div>
                                    <div class="col-10">
                                      <!-- <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="location"></fa-icon> -->
                                      <span>
                                        Manta, Manabí, Ecuador
                                      </span>
                                    </div>
      
                                  </div>
                                  <p class="card-text">
                                  </p>
                                  <p class="card-text"><small class="text-muted" (click)="OpenWindows('https://carreras.uleam.edu.ec/facci/wp-content/uploads/sites/26/2019/12/Ing.-Johnny-Larrea.pdf')">
                                    <!-- <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="info"></fa-icon> -->
                                    Mas Información
                                  </small></p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-6">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img style="width: 180px; height: 100%;"  src="/assets/Jose.jpg" alt="Logo">
                                <!-- <img src="/assets/" class="img-fluid rounded-start" alt="..."> -->
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title" style="font-size: 17px;">
                                    <strong>
                                      Ing, José Antonio Bazurto Roldán, PHD
                                      <!-- Ing. Johnny Larrea Plua, PHD -->
                                    </strong>
                                  </h5>
                                  <!-- <h5 class="card-title"></h5> -->
                                  <div class="row">
                                    <div class="col-2">
                                      <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="faEnvelop"></fa-icon>
                                    </div>
                                    <div class="col-10">
                                      <span>
                                        bazurto.jose@gmail.com
                                      </span> 
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-2">
                                      <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="phone"></fa-icon>
                                      <!-- <span>
                                        0999617002
                                      </span> -->
                                    </div>
                                    <div class="col-10">
                                      <!-- <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="phone"></fa-icon> -->
                                      <span>
                                        0999617002
                                      </span>
                                    </div>
      
                                  </div>
                                  <div class="row">
                                    <div class="col-2">
                                      <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="location"></fa-icon>
                                      <!-- <span>
                                        Manta, Manabí, Ecuador
                                      </span> -->
                                    </div>
                                    <div class="col-10">
                                      <!-- <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="location"></fa-icon> -->
                                      <span>
                                        Manta, Manabí, Ecuador
                                      </span>
                                    </div>
                                  </div>
                                  <p class="card-text">
                                  </p>
                                  <p class="card-text"><small class="text-muted" (click)="OpenWindows('https://carreras.uleam.edu.ec/facci/wp-content/uploads/sites/26/2019/12/Ing.-Jose-Bazurto.pdf')">
                                    <!-- <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="info"></fa-icon> -->
                                    Mas Información
                                  </small></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img style="height: 100% !important;" style="width: 180px;"  src="/assets/mikemachuca.jpg" alt="Logo">
                                <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title" style="font-size: 17px;">
                                    <strong>
                                      Ing. Mike Machuca
                                      <!-- Ing, José Antonio Bazurto Roldán, PHD -->
                                      <!-- Ing. Johnny Larrea Plua, PHD -->
                                    </strong>
                                  </h5>
                                  <!-- <h5 class="card-title">
                                  </h5> -->
                                  <div class="row">
                                    <div class="row">
                                      <div class="col-2">
                                        <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="faEnvelop"></fa-icon>
                                        <!-- <span>
                                          mike.machuca@uleam.edu.ec
                                        </span>  -->
                                      </div>
                                      <div class="col-10">
                                        <!-- <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="faEnvelop"></fa-icon> -->
                                        <span>
                                          mike.machuca@uleam.edu.ec
                                        </span> 
                                      </div>
      
                                    </div>
                                    <div class="row">
                                      <div class="col-2">
                                        <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="phone"></fa-icon>
                                        <!-- <span>
                                          0993419854
                                        </span> -->
                                      </div>
                                      <div class="col-10">
                                        <!-- <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="phone"></fa-icon> -->
                                        <span>
                                          0993419854
                                        </span>
                                      </div>
      
                                    </div>
                                    <div class="row">
                                      <div class="col-2">
                                        <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="location"></fa-icon>
                                        <!-- <span>
                                          Manta, Manabí, Ecuador
                                        </span> -->
                                      </div>
                                      <div class="col-10">
                                        <!-- <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="location"></fa-icon> -->
                                        <span>
                                          Manta, Manabí, Ecuador
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                  <p class="card-text">
                                  </p>
                                  <p class="card-text"><small class="text-muted" (click)="OpenWindows('https://carreras.uleam.edu.ec/facci/wp-content/uploads/sites/26/2019/12/Ing.-Mike-Machuca.pdf')">
                                    <!-- <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="info"></fa-icon> -->
                                    Mas Información
                                  </small></p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-6">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img style="width: 180px; height: 100%;" src="/assets/William.jpeg" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title" style="font-size: 17px;">
                                    <strong class="mb-2">
                                      <!-- <h5 class="card-title"> -->
                                        Ing. William Zamora, PHD
                                      <!-- </h5> -->
                                    </strong>
                                  </h5>
                                  <div class="row">
                                    <div class="row">
                                      <div class="col-2">
                                        <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="faEnvelop"></fa-icon>
                                        <!-- <span>
                                          william.zamora@uleam.edu.ec
                                        </span>  -->
                                      </div>
                                      <div class="col-10">
                                        <!-- <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="faEnvelop"></fa-icon> -->
                                        <span>
                                          william.zamora@uleam.edu.ec
                                        </span> 
                                      </div>
      
                                    </div>
                                    <div class="row">
                                      <div class="col-2">
                                        <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="phone"></fa-icon>
                                        <!-- <span>
                                          0962018222
                                        </span> -->
                                      </div>
                                      <div class="col-10">
                                        <!-- <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="phone"></fa-icon> -->
                                        <span>
                                          0962018222
                                        </span>
                                      </div>
      
                                    </div>
                                    <div class="row">
                                      <div class="col-2">
                                        <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="location"></fa-icon>
                                        <!-- <span>
                                          Manta, Manabí, Ecuador
                                        </span> -->
                                      </div>
                                      <div class="col-10">
                                        <!-- <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="location"></fa-icon> -->
                                        <span>
                                          Manta, Manabí, Ecuador
                                        </span>
                                      </div>
      
                                    </div>
                                  </div>
                                  <p class="card-text">
                                  </p>
                                  <p class="card-text"><small class="text-muted" (click)="OpenWindows('https://carreras.uleam.edu.ec/facci/wp-content/uploads/sites/26/2019/12/Ing.-Johnny-Larrea.pdf')">
                                    <!-- <fa-icon style="color: rgb(107, 111, 114) !important;" size="2x" [icon]="info"></fa-icon> -->
                                    Mas Información
                                  </small></p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </ng-container>
        </div>
    </section>

    <section class="CursosSection" id="registers">
        <div class="TituloCursos mt-3">
            <h1 class="Cursos">Registro de usuario</h1>
        </div>
        <app-register [loginregister]="true"></app-register>  

    </section>


    <footer>

        <div class="InformacionFooter">
            <p></p>
            <blockquote class="Contactos">
                <h4>Contactos</h4>
                    <p> <i class="fas fa-envelope"></i> Gmail: adminspark@spark-iot.com</p>
                    <p> <i class="fas fa-phone"></i> Teléfono: +593960840678</p>
                    <p> <i class="fas fa-map-marker"></i> Ubicación: Manta-Manabí-Ecuador</p>
            </blockquote>
            <blockquote class="Social-Medias">
                
                <h4>Redes sociales</h4>
                  <p> <i class="fab fa-facebook"></i> Facebook</p>
                  <p> <i class="fab fa-instagram"></i> Instagram</p>
                  <p> <i class="fab fa-twitter"></i> Twiter</p>
                  <p> <i class="fab fa-linkedin"></i> Linkedin</p>
         </blockquote>
        </div>
        
        <section class="Driwing">
          <img src="/assets/img/logo/LogoIoT2.png" alt="Not load" srcset="">
          <p class="TextoL">Grupo de Internet de las cosas</p>
        </section>

        <p class="Text-End">
          <strong>Copyright &copy; 2022-2023 <a>Grupo de investigación IOT</a>.</strong> Todos los derechos reservados
        </p>
       
    </footer>
</body>
</html>