/* Estilos generales */
html{
  font-family: Arial, Helvetica, sans-serif;
}
// .everything{
//   margin: 0;
//     padding: 0;
//     background-image: url('/assets/LogoFacci.jpg');
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-color: rgba(0, 0, 0, 0.5);
// }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e4dede;
    color: rgb(32, 32, 32);
  }
  
  .nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: rgb(31, 30, 30);
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #6de002;
  }

  .img_logo{
    width: 120px !important;
    height: 80px;
  }

  .img_logo2{
    width: 100% !important;
    height: 250px;
  }

  .inicio{
    margin: 40px 15px 15px 15px !important;
  }

  .thepadding{
    padding: 10px !important;
    line-height: 2;
    color: rgb(30, 31, 31);
  }

  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Puedes ajustar la duración y la función de temporización */
  }
  
  .fade-in.ng-enter,
  .fade-in.ng-leave.ng-leave-active {
    opacity: 0;
  }
  
  .fade-in.ng-leave,
  .fade-in.ng-enter.ng-enter-active {
    opacity: 1;
  }
  .stylecar{
    height: 500px !important;
  }
  .banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}