<!-- Grupo de redes e infraestructura

  <div class="main_nav bg-color-nav">
    <div class="logo_nav">
      <ng-container>
        <!-- <img class="img_logo2 mb-3" src="/assets/LogoConstante.png" alt="Not load" srcset=""> -->
        <img class="logo_text" src="/assets/baner2.png" alt="Not load" srcset="">
      </ng-container>
    </div>
    <div class="navbar_personal">
      <div class="perfil_nav">
        <span style="color: aqua;">
          <fa-icon size="2x" [icon]="chaticon"></fa-icon>
        </span>
        <span style="color: rgb(246, 246, 41);">
          <fa-icon size="2x" [icon]="notificationicon"></fa-icon>
        </span>
        <fa-icon routerLink="/Perfil" size="2x" [icon]="usericon"></fa-icon>
        <!-- <div class="content-icon" routerLink="/Perfil">
        </div> -->
      </div>
    </div>
  </div>